<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  

<h1>Welcome to my ticket viewer</h1>
<h2>To view tickets press on the button below. </h2>


<button><a href="/tickets?page=0" class="card-link">Display tickets 0-25</a></button>
<button><a href="/tickets?page=1" class="card-link">Display tickets 26-50</a></button>
<button><a href="/tickets?page=2" class="card-link">Display tickets 51-75</a></button>
<button><a href="/tickets?page=3" class="card-link">Display tickets 76-100</a></button>


</body>
</html>