<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <p>looks like the address you typed in not quite right.</p>
<p> try using ....<a href="/tickets">localhost:4567/tickets</a></p>

<a href="/">or click here to go to home page</a>
</body>
</html>