* {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.ticket {
  width: 18%;
  height: auto;
  /* max-height: 110px; */
  font-size: 12px;
  border: solid 2px black;
  margin: 5px;
  padding: 5px;
  background: white;
  border-radius: 5px;
}
.buttons {
  display: flex;
}

.forward,
.back,
.home-btn {
  color: black;
  text-decoration: none;
  font-size: 14px;
  margin: 5px 10px;
}

.forward:hover,
.back:hover,
.home-btn:hover {
  cursor: pointer;
}
#home {
  text-decoration: none;
  color: black;
}

.ref {
  text-decoration: none;
}
